<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity 2020</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <style>
        body {
            margin: auto;
            background-color: dimgrey;
        }
        a {
            color: cornsilk;
            font-family: 'Courier New', Courier, monospace;
            font-size: larger;
            margin: 50px;
        }
        h1 {
            color: cornsilk;
            font-family: "Raleway", sans-serif;
            height: 100%;
            text-align: center;
            margin-top: 100%;
        }
        p {
            text-align: center;
            color: cornsilk;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <% if(user) { %>
        <a href="/auth/logout">Logout</a>    
        <br>
        <% } else { %>
        <a href="/auth/login">Login</a>
        <br>
        <% } %>
        <a href="/">Homepage</a>
        <br>
        <a href="/profile">Profile</a>
        <br>
        <hr>

        <h1>Welcome to your profile, <%= user._name %> </h1>    
        <p>
            extra information about you
            <img src="<%= user._picture %>" alt="picture">
            <p>This is your profile thumbnail</p>
        </p>

</body>
</html>